.judges {
    padding-bottom: 120px;
    background-color: #000000;
    color: #ffffff;
    padding-left: 212px;
    max-width: 650px;
    margin-top: -33px;
    h3 {
        color: #ffffff;
        font-weight: normal !important;
    }
    h4 {
        color: #808285;
        font-size: 1.5em;
        margin-top: -15px;
        font-weight: normal !important;
    }
    .judge {
        flex-basis: 50%;
        max-width: 260px;
    }
}