@import "../all.sass";

footer.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px 40px;
  background-color: #000000;
  height: 150px;
  padding-left: 212px;
  flex-grow: 0;
  flex-shrink: 0;
}

.footerAddress {
  max-width: 50%;
  p{
    margin-bottom: 15px;
    font-size: 14px;
  }
}

.footerSocial {
  margin-bottom: -10px;
  ul {
    display: flex;
    li {
      margin-left: 10px;
      a {
        color: $secondary;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}

.top .footerSocial {
  position: absolute;
  right: 60px;
  bottom: 40px;
  a {
    color: #000000;
  }
}

.footerMenu {
  display: flex;
  align-items: center;
}

.footerMenu ul{
  display: flex;
  margin-top: -8px;
  justify-content: center;
  width: 100%;
  li {
      padding-left: 25px;
      padding-right: 25px;
      &:first-child {
        padding-left: 0;
      }
      a {
        color: #808285;
        font-size: 12px;
        &:hover {
          color: #ffffff !important;
        }
      }
  }
}

@media screen and (max-width: 768px) {
  footer.footer {
    justify-content: left;
  }
  .footerMenu ul{
    display: block;
    li {
        padding-left: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  footer.footer {
    padding: 20px;
  }
}