.TextElement > div {
    padding-top: 60px;
    padding-bottom: 120px;

    p {
        font-size: 16px;
    }

    &:first-child {
        padding-bottom: 60px;
    }
}

.TextElement .dark {
    background-color: #000000;
    * {
        color: #ffffff;
    }
}

.TextElement .light {
    background-color: #ffffff;
    * {
        color: #000000;
    }
}

.TextElement img {
    max-width: 75%;
}

.TextElement .left {
    margin-bottom: 25px;
    h1 {
        margin-bottom: 0;
        font-size: 1.8em
    }
    h2, h2:not(:first-child) {
        margin-top: 0;
        margin-bottom: 0;
        color: #808285;
    }
}

.TextElement .light {
    a {
        color: #808285;
    }
}

.TextElement .content {
    margin: 0;
    padding-left: 200px;
    max-width: 1200px;
}