.TextElement > div {
    padding-top: 120px;
    padding-bottom: 120px;
}

.TextElement .dark {
    background-color: #000000;
    * {
        color: #ffffff;
    }
}

.TextElement img {
    max-width: 75%;
}

.TextElement .left {
    h1 {
        margin-bottom: 0;
    }
    h2, h2:not(:first-child) {
        margin-top:0;
        color: #808285;
        margin-bottom: 100px;
    }
}

.TextElement .light {
    a {
        color: #808285;
    }
}

.TextElement .content {
    margin: 0;
    padding-left: 183px;
    max-width: 1200px;
}