.TextElement > div {
    padding-top: 120px;
    padding-bottom: 120px;
}

.TextElement .dark {
    background-color: #000000;
    * {
        color: #ffffff;
    }
}

.TextElement img {
    max-width: 75%;
}