@import '../../styles/_variables';

.horizontalNavbar ul {
  display: flex;
  margin-bottom: -8px;
  li {
    padding-left: 35px;
    &:first-child {
      padding-left: 0;
    }
    a {
      color: #000000;
      font-weight: 500;
      font-size: 16px;
      &[aria-current="page"] {
        color: #808285;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .horizontalNavbar{
    flex: 1 0 100%;
    &.menuinactive {
      display: none;
    }
    &.menuactive{
      display: block;
    }
    ul {
      margin-top: 50px;
      width: 100%;
      display: block;
      li {
        padding-left: 0;
      }
    }
  }
}
