@import '../../styles/_variables';

.horizontalNavbar ul {
  display: flex;
  margin-bottom: -8px;
  li {
    padding-left: 50px;
    a {
      color: #000000;
      font-weight: bold;
      font-size: 20px;
      &[aria-current="page"] {
        color: #808285;
      }
    }
  }
}
