@import '../../styles/_variables';

.horizontalNavbar ul {
  display: flex;
  margin-bottom: -8px;
  li {
    padding-left: 35px;
    &:first-child {
      padding-left: 0;
    }
    a {
      color: #000000;
      font-weight: 500;
      font-size: 16px;
      &[aria-current="page"] {
        color: #808285;
      }
    }
  }
}

@media screen and (max-width: 915px) {
  .footerSocial {
    display: none;
  }
  .horizontalNavbar{
    flex: 1 0 100%;
    overflow:hidden;
    &.menuinactive {
      max-height: 0;
      transition: max-height 0.5s linear;
    }
    &.menuactive{
      max-height: 500px;
      transition: max-height 0.5s linear;
    }
    ul {
      margin-top: 20px;
      margin-bottom: -48px;
      width: 100%;
      display: block;
      li {
        padding-left: 0;
      }
    }
    .footerSocial.inmenu {
      position: relative;
      display: block;
      ul {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: 915px) {
  .footerSocial.inmenu {
    display: none;
  }
}